/*Reset principale*/
body{
    padding: 0;
    margin: 0;
}
/*header et paramètres*/
h1{
    font-size: 25px;
}
header{
    background-color: rgb(241, 76, 206);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 10px 10px 30px pink;
}
/*mise en forme de du logo et de la transition*/
header img{
    margin-top: 20px;
    margin-left: 20px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    transition: transform 0.35s ease;
}
header img:hover{
    transform: translateY(-4px);
}
/*mise en forme du menu du header*/



/*--------------FIN DU HEADER------------*/

/*Footer et autre paramètre*/